
.nav {
    display: flex;
    list-style: none;
    justify-content: end;
}

button {
    color: #8898aa;
    width: 36px;
    border: 1px solid #dee2e6;
    height: 36px;
    margin: 0 3px;
    padding: 0 6px;
    font-size: .875rem;
    min-width: 32px;
    box-sizing: border-box;
    text-align: center;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-radius: 50%;
    background-color: transparent;
}

button:hover {
    background-color: #f0f2f5;
}

.action {
    color: #FFFFFF;
    box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    background-color: #5e72e4!important;
}

.arrow button {
    display: flex;
    justify-content: center;
    align-items: center;
}