/* * {
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
} */

.select.layout .profile{
    display: block;
    width: 80px;
    height: 80px;
    background: chocolate;
    border-radius: 50%;
    margin: 0 auto;
}

.select.layout .profile img{ 
    width: 80px;
    height: 80px; 
    border-radius: 50%;
}

.select.basic .profile  {
    display: none;
}

.title {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Oooh Baby', cursive;
    font-weight: 400;
    color: #fff;
}
 

.select.layout .title {
    font-size: x-large;
    text-align: center;
    margin: 1.5rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #fff;
    border-bottom-style: dashed;
}

.navigation {
    position: relative;
} 


.select.layout .navigation {
    display: flex;
    justify-content: center;
} 

.select.basic .navigation { 
    width: 225px;   /* 75 * 3 = 225 */
    height: 150px; /* 75 * 2 = 150 */
} 

.select.layout .navigation { 
    width: 105px;  
    height: 600px;
} 

.container {
    margin: 0;
    padding: 0 !important;
    box-sizing: border-box; 
    grid-template-rows: repeat(2, 75px);
    grid-template-columns: repeat(3, 75px);
}

.container.grid {
    display: grid;
}
 
.container.list {
    display: flex;
    flex-direction: column;
}

.list{
    position: relative;
    list-style: none;
    width: 75px;
    height: 75px;
    z-index: 1;
}

.list a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
    text-align: center;
}

.icon {
    position: relative;
    line-height: 75px;
    transition: 0.5s;
    font-size: 30px;
}

li.active a .icon {
    font-size: 20px;
    transform: translateY(-6px);
}

.text {
    position: absolute;
    font-size: 12px;
    color: #fff;
    bottom: 20px;
    font-weight: 400;
    transition: 0.25s;
    text-transform: uppercase;
    transform: scale(0);
}

li.active a .text {
    transform: scale(1);
}

.indicator{
    position: absolute;
    left: 0;
    width: 75px;
    height: 75px;
    background: #f00;
    border-radius: 10px;
    transition: 0.5s;
}

.container.grid li:nth-child(1).active ~ .indicator {
    background: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    transform: translateX(calc(75px * 0));
}

.container.grid li:nth-child(2).active ~ .indicator {
    background: #5d62fb;
    box-shadow: 0 15px 25px #5d62fb99;
    transform: translateX(calc(75px * 1));
}

.container.grid li:nth-child(3).active ~ .indicator {
    background: #05c46b;
    box-shadow: 0 15px 25px #05c46b99;
    transform: translateX(calc(75px * 2));
}

.container.grid li:nth-child(4).active ~ .indicator {
    background: #0fbcf9;
    box-shadow: 0 15px 25px #0fbcf999;
    /* transform: translateX(calc(70px * 3)); */
    transform: translateY(calc(75px * 1));
}

.container.grid li:nth-child(5).active ~ .indicator {
    background: #ffa801;
    box-shadow: 0 15px 25px #ffa80199;
    /* transform: translateX(calc(70px * 4)); */
    transform: translate(75px,75px);
}

.container.grid li:nth-child(6).active ~ .indicator {
    background: #f0642c;
    box-shadow: 0 15px 25px #f0642c99;
    /* transform: translateX(calc(70px * 5)); */
    transform: translate(150px,75px);
}

.container.list li:nth-child(1).active ~ .indicator {
    background: #f53b57;
    box-shadow: 0 15px 25px #f53b5799;
    transform: translateY(calc(75px * 0));
}

.container.list li:nth-child(2).active ~ .indicator {
    background: #5d62fb;
    box-shadow: 0 15px 25px #5d62fb99;
    transform: translateY(calc(75px * 1));
}

.container.list li:nth-child(3).active ~ .indicator {
    background: #05c46b;
    box-shadow: 0 15px 25px #05c46b99;
    transform: translateY(calc(75px * 2));
}

.container.list li:nth-child(4).active ~ .indicator {
    background: #0fbcf9;
    box-shadow: 0 15px 25px #0fbcf999;
    transform: translateY(calc(70px * 3)); 
}

.container.list li:nth-child(5).active ~ .indicator {
    background: #ffa801;
    box-shadow: 0 15px 25px #ffa80199;
    transform: translateY(calc(70px * 4));
}

.container.list li:nth-child(6).active ~ .indicator {
    background: #f0642c;
    box-shadow: 0 15px 25px #f0642c99;
    transform: translateY(calc(70px * 5)); 
}