.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.pagePath {
    flex: 1 1 30%;
}

.serch {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 70%;
}