.container {
    display: flex;
}

.meun {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: #333;
    flex: 1 1 4%
}

.content {
    flex: 1 1 96%;
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: #f0f2f5;
}