@import-normalize;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f8f9fe !important;
}

.container {
    display: flex;
}

.meun {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 100px;
    min-height: 100vh;
    background: #333;
    flex: 1 1 4%
}

.content {
    flex: 1 1 96%;
    display: flex;
    flex-direction: column;
    padding:1rem;
    background-color: #f0f2f5;
}